WhatappRagChatboat.json
{
  "name": "WhatappRagChatboat",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "a9e3c954-e97f-4d85-8ef7-ccac28a2c722",
      "name": "WhatsApp Trigger",
      "webhookId": "400c3126-10ca-4844-878e-cf17fd853065",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "KxVJGXyfkCoFCRUp",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        256,
        0
      ],
      "id": "ef003db7-a73c-4529-a82e-d769a7377bf7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "9aa5de49-61e8-475b-8970-a1fa20d854a6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tBagsLNRPqZrzE7W",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=804460009425081",
        "recipientPhoneNumber": "+923215261156",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        784,
        208
      ],
      "id": "5e0a5083-cdd3-4c57-8eb1-b4f88a110fb0",
      "name": "Send message",
      "webhookId": "eb789d0d-f6ce-40d3-9e07-7bc0d44849e6",
      "credentials": {
        "whatsAppApi": {
          "id": "I9klJTZCX9NzdAX3",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        608
      ],
      "id": "bfd3b4b6-bbc0-4528-adb7-3e7faa13bf8a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1RodSp5veXfDnuaSmZmnlqQzUbuk2rOmO",
          "mode": "list",
          "cachedResultName": "QualityCrux_FAQs.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1RodSp5veXfDnuaSmZmnlqQzUbuk2rOmO/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        368,
        608
      ],
      "id": "607aabcf-7dc3-440c-960c-c6870ce66edc",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yxfrN0tpDmKW8LD8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 768,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        720,
        608
      ],
      "id": "7b289341-adee-4a15-bea3-e67b8b7634b6",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "m1beC30vr1N25Jc5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        800,
        832
      ],
      "id": "e5f19186-e5a3-451c-bb09-309000e9bfa5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        432
      ],
      "id": "293f6d42-342f-4a49-9380-35cd2fd7eb27",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "tBagsLNRPqZrzE7W",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve answers for query from chat input.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "fbde50fa-3eaf-406e-ad84-f4bef007e8f0",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "m1beC30vr1N25Jc5",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551617929",
            "phone_number_id": "804460009425081"
          },
          "contacts": [
            {
              "profile": {
                "name": "Akhtar"
              },
              "wa_id": "923215261156"
            }
          ],
          "messages": [
            {
              "from": "923215261156",
              "id": "wamid.HBgMOTIzMjE1MjYxMTU2FQIAEhgWM0VCMEYwMUM3MTM3Mzc5QzI5MUJEMwA=",
              "timestamp": "1763219053",
              "text": {
                "body": "what is your email?"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf351aa4-45f5-4559-ae58-6f42f4ffc150",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd4ead6d253b73a57d931f426dc06842a43ce83f332aa24615afc80164f7dc7e"
  },
  "id": "X1B3gPmZerz5xcRU",
  "tags": []
}